* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Segoe UI", Tahoma, sans-serif;
  color: #1c1c1c;
}

button {
  font: inherit;
}

.bg-frame {
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
}

.bg-page-1 {
  background-image: url("../../assests/main_web/page1/bg_page.jpg");
  overflow: visible;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.bg-page-2 {
  background-image: url("../../assests/main_web/page2/bg_page.jpg");
  z-index: 1;
}

.bg-page-3 {
  background-image: url("../../assests/main_web/page3/bg_page.jpg");
}

.image-button {
  border: 0;
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.image-button img {
  display: block;
  width: 100%;
  height: auto;
}

.section-content {
  width: min(100vw, 960px);
  margin: 0 auto;
  padding-top: 28px;
  text-align: center;
}

.section-title {
  margin: 0;
  font-size: clamp(68px, 7vw, 90px);
  font-weight: 900;
  line-height: 0.9;
  color: #111;
  text-shadow: 3px 3px 0 #fff;
}

.section-title span {
  color: #ffb320;
}
